

@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

.hidden{
  display:none !important;}
html{
    font-family: 'Manrope', sans-serif;
    background-color: black;
}
/* Style the video: 100% width and height to cover the entire window */
#videobg {
    position: fixed;
    filter: brightness(80%);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
  }
  
a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.textlink:hover{
opacity: 80%;
transition: opacity .3s;  
}
#logo {
    position:fixed;
    top: -30px;
    width: 384px;
    height: 216px;
    

    filter: drop-shadow(5px 5px 0px #ff6bf3) drop-shadow(5px 5px 0px #00d8ff);
    transition: filter .5s;

}

#logo:hover{
    filter: drop-shadow(12px 12px 0px #ff6bf3) drop-shadow(12px 12px 0px #00d8ff);
}

#logo:active{
    filter: drop-shadow(8px 8px 0px #ff6bf3) drop-shadow(8px 8px 0px #00d8ff);
    transition: filter .1s;
}

#toplinks{
    display: none !important;
    position:fixed;
    top:1em;
    right:2em;
}
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    float: none;
  }

  li a, .ringlink {
    display: block;
    padding: 10 50;
    color:white;
    text-decoration: none;
    background-color: white;
    box-shadow: #000 3px 3px 0px 0px;
    border:solid 2px #000;
    transition: color .3s, background-color .3s, border .3s, box-shadow .3s;
    transform: skew(-5deg);
  }

   li a:hover{
    border: solid 2px white;
    box-shadow: #fff 3px 3px 0px 0px;
    /* transition: border .5s, box-shadow .5s; */

  } 
  .svg-inline--fa, .tetrioicon{
    transform: skew(5deg);
  }
  .mastodon{
    display:none;
  }

  .twitch:hover{
    background-color: #9146FF;
    text-decoration: none;
  }
  .twitter:hover{
    background-color: #1DA1F2;
    text-decoration: none;
  }
  .mastodon:hover{
    background-color: #6364FF;
    text-decoration: none;
  }
  .discord:hover{
    background-color: #5865F2;
    text-decoration: none;
  }
  .bluesky:hover{
    background-color: #1185FE;
    text-decoration: none;
  }
  .tetrio:hover{
    background-color: #1f9100;
    text-decoration: none;
  }
  .tetrio{
    position: relative;
    top: 1px;
  }
  .svg-inline--fa, .tetrioicon {
    background-color: rgba(0, 0, 0, .0);
    display:inline-block;
    filter: drop-shadow(rgb(0, 0, 0) 0px 1px 0px) drop-shadow(rgb(0, 0, 0) 1.3px 0px 0px) drop-shadow(rgb(0, 0, 0) 0.1px -0.1px 0px) drop-shadow(rgb(0, 0, 0) -0.1px 0px 0px) drop-shadow(rgb(0, 0, 0) 0.1px 0.1px 0px);
    overflow:visible !important;
    stroke:black;
    width: 1.01em;
    height: 1.11em;
    line-height: 1;
  }
  .tetrioicon{
    height: 1.11em !important;
    background-image: url("tetrio-mono.svg");

  }
  
#heading{
    font-size: 80px;
    position:relative;
    text-shadow:
       3px 3px 0 #000,
     -3px -3px 0 #000,  
      3px -3px 0 #000,
      -3px 3px 0 #000,
       3px 3px 0 #000;
    font-weight: black;
    color:white;
    margin:auto;
    text-align: center;
}
#innertext, .innertext{
    position:relative;
    font-size: 20px;
    text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-weight: black;
    color:white;
    margin:auto;
    text-align: center;
    top:300px;
}
.innertext{
  top: 0;
}

  #pause{
    position: fixed;
    border:none;
    bottom: 1em;
    right: 1em;
    color:black;
    display:inline-block;
    text-align: center;
    background-color: white;
    font-size: 40px;
    padding:.4em .6em;
    border: 2px solid black;
    box-shadow: 5px 5px 0px black;
    transform:skew(-5deg);
    cursor: pointer;
    z-index: 2;
    
    transition:color .5s, background-color .5s, border .5s, box-shadow .5s;
  }
  #pause:hover{
    color:white;
    background-color: black;
    border: 2px solid white;
    box-shadow: 5px 5px 0px white;

  }
  #pause:active{
    transform: translate(3px, 3px) skew(-5deg);
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    cursor: pointer;
  }

  #window {
    position:fixed;
    display: none;
    justify-content: center;
    margin:auto;
    height: 100%;
    width: 100%;
    z-index: 105;
  }
  #close{
    position: fixed;
    border:none;
    top: 1em;
    right: 1em;
    color:black;
    display:inline-block;
    text-align: center;
    background-color: white;
    font-size: 40px;
    padding:.4em .6em;
    border: 2px solid black;
    box-shadow: 5px 5px 0px black;
    cursor: pointer;
    z-index: 115;
    transition:color .5s, background-color .5s, border .5s, box-shadow .5s;
  }
  #close:hover{
    color:white;
    background-color: black;
    border: 2px solid white;
    box-shadow: 5px 5px 0px white;

  }
  #localtime{
    font-weight: bold;
  }
  .webring p{
    display:inline-block;
  }
  .webring{
    margin:auto;
    width:50%;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .ringlink{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  /* .ringlink:hover{
    border: solid 2px white;
    box-shadow: #fff 3px 3px 0px 0px;
    transition: background-color .3s;
  } */

  .ringlink:hover, .ringlink{
    transition: background-color .3s, border .3s, box-shadow .3s;
  }
  .june:hover{
    border: solid 2px #e986ae;
    box-shadow: #e986ae 3px 3px 0px 0px;
    background-color: #151516;
  }
  .aspen:hover{
    border: solid 2px #B2E0FF;
    box-shadow: #B2E0FF 3px 3px 0px 0px;
    background-color: #141414;
  }
  .ringlink:hover .ringarrow{
    opacity: 0%;
    transition: opacity .3s;
  }
  .ringlink .ringarrow{
    transition: opacity .3s;
  }
  .aspen .ringname{
    font-family: "Overpass Mono";
    font-weight: 700;
    color:#fff;
  }
  .june .ringname{
    font-family: "Fira Code";
    font-weight: 700;
    color:#e986ae;
  }
  .ringname{
    text-shadow: none;
    position: absolute;
    margin:auto;
    opacity:0%;
    width:100%;
    transform: skew(5deg);
    text-align: center;
  }
  .ringlink:hover .ringname{
    opacity: 100%;
    transition: opacity .3s;
  }

  .easteregg:hover{
    text-shadow: 
       #FFF 0 0 4px;
    transition: text-shadow .3s;
  }

    .tooltip {
      position: absolute;
      right:20px;

    }
  footer {
    z-index: 1;
    position: absolute;
    width: 100%;
    left:0;
    height: 35px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .showTooltip:hover::after {
          position: absolute;
          content: attr(data-tooltip);
          top: -2.5em;
          background-color: #333;
          color: white;
          padding: .25em .5em;
          font-size: .8em;
          transform: translateX(-8.5em);
        }

  footer p {

  text-align: center;

  }